.single #main {
  padding-top: 45px !important; }

.single .post .meta-info {
  margin-top: 30px;
  margin-bottom: 35px; }

.single .fusion-sharing-box {
  background: #f8f8f8;
  padding: 17px;
  margin-bottom: 45px; }

.single .post h1.entry-title {
  margin-bottom: 20px !important;
  font-size: 32px !important;
  line-height: 40px !important;
  font-weight: 700 !important;
  color: $main-orange !important; }

.single .post h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin: 25px 0 !important; 
  font-weight: 700 !important; }

.single .post h4 {
  font-weight: 700 !important; }

.single .post h3,
.single .post h4,
.single .post h5 {
  color: $main-gray !important; }

.single .post h2.title-heading-left,
.single .post h3.title-heading-left {
  font-size: 18px !important;
  color: $main-gray !important;
  font-weight: 700 !important; }

.single .post h2.about-author .fusion-title,
.single .post h2.comment-reply-title .fusion-title {
  margin-bottom: 0px !important; }

.single .about-author {
  margin-bottom: 20px; }

.single .about-author .description {
  font-size: 16px !important; }

.single-navigation {
  margin-top: 50px;
  font-size: 16px !important; }

.single .comment-respond .comment-reply-title {
  margin-top: 0 !important; }

.single .comments-container .fusion-title {
  margin: 0 0 10px !important; }

.single .comment-author {
  padding-bottom: 5px;
  line-height: 1.3;
  font-size: 17px !important; }

.single ol.commentlist {
  margin-bottom: 30px; }

.single .comment-text {
  font-size: 16px; }

.prev-post-link {
  float: left;
  padding-left: 11px;
  text-align: left; }

.next-post-link {
  float: right; }

.blog #nav_menu-6 {
  display: none; }

.fusion-blog-medium .blog-medium-slideshow-container {
  width: 35%;
  margin-top: 6px;
  margin-right: 5%;
  margin-bottom: 15px;
  @media (max-width: $bp3-alt) {
    margin-right: 0%;
    width: 100%; } } 

.blog .pagination {
  margin-bottom: 60px; }

.blog .banner-heading {
  margin: 0 -30px 40px; }

.blog-medium h2.entry-title {
  font-weight: 700 !important; }

.blog-medium h2.entry-title,
.blog-medium .excerpt-container {
  float: right;
  width: 60%;
  @media (max-width: $bp3-alt) {
    float: left;
    width: 100%; } }

.entry-meta .entry-meta-details {
  line-height: 22px;
  padding: 1px 0; }

.single .fusion-sharing-box.share-box.share-box-top {
  background: white !important;
  padding: 7px 0 8px;
  margin-bottom: 25px;
  border-top: 1px solid $light-gray-4;
  border-bottom: 1px solid $light-gray-4;
  height: 50px; 
  h4 {
    width: 75px;
    font-size: 18px; }
  .fusion-social-networks .fusion-social-network-icon {
    margin-right: 9px;
    padding: 6px;
    font-size: 12px; } }


// Sidebar
.single .sidebar {
  font-size: 15px !important; 
  line-height: 22px !important; 
  h3 {
    font-weight: 700 !important;
    color: $main-gray !important; }}