// NOTE: .metaslider-208 is the Product Carousel slider
.metaslider-208 .slides img {
  width: auto !important;
  margin: 0 auto !important; }

.metaslider.metaslider-208 .caption {
  padding: 10px; }

.flex-viewport {
  padding-left: 30px;
  max-width: 680px; }

.flex-direction-nav a {
  opacity: 1 !important; }

.flex-direction-nav .flex-prev {
  left: 0 !important; }

.flex-direction-nav .flex-next {
  right: 0 !important; }

.metaslider-208 .caption-wrap {
  position: relative !important; 
  background: none !important;
  text-align: center; }

.product-carousel-title {
  margin-top: 10px;
  letter-spacing: -1px;
  line-height: 20px !important;
  font-size: 19px !important;
  cursor: pointer; } 