// Breakpoints
$bp1:       300px;
$bp2:       400px;
$bp2-alt:   460px;
$bp3:       500px;
$bp3-alt:   640px;
$bp4:       768px;
$bp5:       800px;
$bp6:       960px;
$bp7:       1000px;
$bp7-alt:   1100px;
$bp8:       1160px;