//For reference (based on '_breakpoints.scss'):
$bp1:       300px;
$bp2:       400px;
$bp2-alt:   460px;
$bp3:       500px;
$bp3-alt:   640px;
$bp4:       768px;
$bp5:       800px;
$bp6:       960px;
$bp7-alt:   1100px;
$bp8:       1160px;

//==================================================

@media (min-width: 950px) and (max-width: 1000px) {
  #sticky-nav ul li {
    padding-right: 25px !important;
    font-size: 13px !important; }
  body #header-sticky.sticky-header .logo {
    width: 260px !important; }
}

@media (min-width: 900px) and (max-width: 950px) {
  #sticky-nav ul li {
    padding-right: 20px !important;
    font-size: 13px !important; }
  body #header-sticky.sticky-header .logo {
    width: 250px !important; }
}

@media (min-width: 800px) and (max-width: 900px) {
  #sticky-nav ul li {
    padding-right: 16px !important;
    font-size: 12px !important; }
  body #header-sticky.sticky-header .logo {
    width: 225px !important; }
}