/*.table-1.table-1-modified {  
  h4 {
    font-weight: 700 !important;
    margin: 10px 0 !important; }
  td:first-child {
    background: $main-gray;
    color: white !important; 
    h4 {
      color: white !important; } }
  tr:first-child,
  tr:nth-child(2) {
    td:first-child {
      background: white !important; } } }*/